.btn{
    border: 1px solid orangered;
    padding: 5px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    font-weight: 800;
    background-color: white;
    color: orangered;
}

.flex{
    display: flex;
}