@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200&display=swap");

* {
    margin: 0;
    padding: 0;
}

h5, h4, h1{
    font-family: 'Noto Serif SC', serif;
}

.content {
    color: rgb(30, 38, 54);
}

.fas, .fab{
    font-size: 25px;
    color: rgb(30, 38, 54);
}

#header {
    color: white;
    position: relative;
    background-color: rgb(30, 38, 54);
    height: 150px;
}

#border-header {
    border-top: solid#ffffff 7px;
    width: 100%;
    color: white;
    position: absolute;
    top: 28px;
}

#resume {
    position: absolute;
    background-color: rgb(30, 38, 54);
    padding: 0px 20px;
    left: 100px;
    top: 19px;
}

#name {
    padding-top: 65px;
}

#main {
    margin: 0px 30px;
    color: rgb(30, 38, 54);
}

.experience hr {
    color: rgb(30, 38, 54);
    height: 2px;
}

#job-title {
    padding: 20px 0px 18px 0px;
}

.work-experience, .education, .skills {
    background-color: rgb(226, 226, 226);
    margin: 20px 0px;
    padding: 10px 10px;
}

.border-list {
    border-top: solid 2px rgb(30, 38, 54);
}

.border-dot {
    border-top: dotted 1px black;
}

.content-experience {
    margin-top: 10px;
}

.content-exp {
    font-size: 12px;
}

#list {
    list-style-type: "✈ ";
}

.skill-indicator .fas, .far, .fab{
    font-size: 10px !important;
    color: rgb(30, 38, 54);
}

.content-skill{
    font-size: 15px;
}

.personal-information{
    text-align: right;
}

.profile-img img{
    height: 180px;
    width: 180px;
    border-radius: 90px;
    border: 10px solid white;
    margin-left: 70px;
}

.profile{
    margin-top: 90px;
}

.profile-information{
    margin-top: 20px;
}

.information h6{
    margin-bottom: 0px;
}

.information{
    margin-top: 20px;
}

.information .fas{
    font-size: 30px;
}

.information img{
    width: 30px;
    height: 30px;
}

.information p{
    font-size: 12px;
}

.information a{
    font-size: 12px;
    text-decoration: none;
    color: rgb(30, 38, 54);
}

.information a:hover{
    text-shadow: 1px 1px grey;
}

.skill-indicator .circle{
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 2px;
    color: white;
}

.blackCircle{
    background-color: black;
    color: black !important;
}

.whiteCircle{
    background-color: white;
    color: white !important;
}