.personTable{
    margin: auto;
}

.wrapper{
    overflow-y: scroll;
    position: relative;
    height: 350px;
}

.listData{
    margin: auto;
    width: 80%;
    padding: 40px;
    margin-top: 100px;
    border-radius: 20px;
    border: 1px solid grey;
    box-shadow: 0px 0px 11px -2px #000000;
    background-color: white;
    height: 500px;
}

.Page{
    margin: auto;
    text-align: center;
    width: 100%;
}