.App {
  text-align: center;
<<<<<<< HEAD
  position: relative;
=======
>>>>>>> f196fc1c4974b858ee67a2e849cdacfac76b8342
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
<<<<<<< HEAD
  /* background-color: #282c34; */
=======
  background-color: #282c34;
>>>>>>> f196fc1c4974b858ee67a2e849cdacfac76b8342
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

<<<<<<< HEAD
#myVideo {
  position: absolute;
  left: 0;
  /* bottom: 0; */
  width: 100%;
  top: 0;
  /* min-width: 100%; 
  min-height: 100%; */
  z-index: -999;
  /* width: 100%; */
  height: 100vh;
}

=======
>>>>>>> f196fc1c4974b858ee67a2e849cdacfac76b8342
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
