.navLink{
    color: white;
}

.jumboHead{
    background-image: url('../../ui-kit/Files/Img/Suramadu.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.jumboText{
    margin-top: 20%;
}

.wht{
    color: white;
}

.cardWrap{
    margin: auto;
    text-align: center;
    margin: 100px 0px;
}

.cardShadow{
    filter: drop-shadow(2px 4px 8px #585858);
}