small{
    background-color: #D6FFDE;
    color: #31a30a;
    padding: 4px;
}

.cart{
    border: 1px solid lightgrey;
    padding: 20px;
    border-radius: 10px;
    height: 400px;
}

.navProduct a{
    color: #31a30a;
    font-weight: 700;
    height: 20px;
    padding-top: 0;
}