.jumboHead{
    color: white;
    margin: auto;
    margin: 20% 10%;
}

.headBack{
    height: 100vh;
}

.h1{
    color: white;
    font-size: 70px;
}

.cardWrap{
    margin: auto;
    text-align: center;
    margin: 100px 0px;
}

.cardShadow{
    filter: drop-shadow(2px 4px 8px #585858);
}

.destinationCard{
    /* background-image: url('../../ui-kit/Files/Img/toba.jpg');
    background-size: cover; */
    position: relative;
}

.cardImg{
    height: 100px;
}

.destinasi{
    background-image: url('../../ui-kit/Files/Img/back1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navLink{
    color: white;
}

.lastBody{
    margin-bottom: 100px;
}