.flex {
    display: flex;
    width: 300px;
}

.bg_none{
    background-color: white;
    color: green;
    border: none;
    border-radius: 50%;
}

.icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.input{
    border-top: none;
    border-left: none;
    border-right: none;
}

.inputP{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid lightgray;
    width: 50px;
}

.input::-webkit-outer-spin-button, .input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.input[type=number]{
    -moz-appearance: textfield;
}

.p{
    line-height: 30px;
}

.harga{
    font-size: 20px;
}

.price{
    width: 350px;
}

.btn{
    border: 1px solid orangered;
    padding: 10px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 200px;
    font-weight: 800;
}

.primary{
    background-color: white;
    color: orangered;
}

.primary:hover{
    background-color: orangered;
    color: white;
}

.second{
    background-color: orangered;
    color: white;
}